<html>
<head>
	<title> {{ user.username }} </title>

</head>
<body>
	Update e-mail:
	<br/>
	<form action = "{{ url_for('update_email', user_id=user.id) }}", method = 'post'>
		Email: <input type='text' name='email' value='{{ user.email }}'/>
		<br/>
		Password: <input type='text' name='password'/>
		<br/><br/>
		<input type='submit' value='update'/>
	</form>
	<br/>
	<br/>

	Update password:
	<br/>
	<form action = "{{ url_for('update_password', user_id=user.id) }}", method = 'post'>
		Old password: <input type='text' name='password'/>
		<br/>
		New Password: <input type='text' name='newpass'/>
		<br/>
		Confirm new Password: <input type='text' name='newpass2'/>
		<br/><br/>
		<input type='submit' value='update'/>
	</form>
	<br/>

	<a href="{{ url_for('show_users') }}"> back </a>
</body>
</html>