{% extends "header.html" %}
{% block title %} login {% endblock %}
{% block body %}
	<form action = "{{ url_for('login') }}", method = 'post'>
		Username: <input type='text' name='username'/>
		<br/>
		Password: <input type='text' name='password'/>
		<br/><br/>
		<input type='submit' value='Login'/>
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-warning alert-dismissible" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
{% endblock %}
