{% macro show_comments(parent_id) %}
	{% set clist = get_comments(post.id,parent_id) %}
	{% if clist is defined %}
		{% for c in clist %}
			<div class='well'>
				<a href="comment{{c.id}}" data-toggle="collapse">[+]</a> &nbsp;&nbsp;
				{% if c.user_id!=0 %}
					{% set author = get_author(c.user_id) %}
					{% if author=="" %}
						Author: {{ author }}
					{% else %}
						<a href="{{ url_for('show_user',user_id=c.user_id) }}"> Author: {{ author }} </a> <br/>
					{% endif %}
				{% endif %}
				<div id="comment{{c.id}}" class="collapse in">
					{{ prefix }}
					{{ c.message }}
					<br/>
					{% if session["uid"] %}
						<a href="javascript:void(0)" onclick="show_hidden('write_comment{{c.id}}')"> comment </a>
					{% endif %}
					{% if (session["uid"]==c.user_id or session["uid"]==sub.admin_id) %}
						&nbsp &nbsp <a href="{{ url_for('delete_comment', sid=sub.id, pid=post.id, cid=c.id) }}"> delete </a>
					{% endif %}
					<div id="write_comment{{c.id}}" style="display: none;">
						<form action="#" onsubmit="post_comment(event, 'message{{c.id}}','subcomment{{c.id}}','{{c.id}}','{{post.id}}','{{sub.id}}')">
							<textarea id="message{{c.id}}" name='message' rows='6' cols='100'></textarea>
							<br/><br/>
							<input type='submit' value='ok' onclick="show_hidden('write_comment{{c.id}}')" value='ok'/>
						</form>
					</div>
					<div id="subcomment{{c.id}}" style="display: none;">
					</div>
					<br/><br/>
					{{ show_comments(c.id) }}
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endmacro %}

{% extends "header.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/css/posts.css">
{% endblock %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block body %}
	{{ super() }}
	<script>
		function show_hidden(uid) {
			let div = document.getElementById(uid);
			if (div.style.display == "none") {
				div.style.display = "block";
			} else {
				div.style.display = "none";
			}
		}

		function post_comment(event, msgId, divId, cid, pid, sid) {
			let xhttp = new XMLHttpRequest();
			console.log("ON POST COMMENT")
			let div = document.getElementById(divId);
			
			let msg = document.getElementById(msgId);
			console.log("message is " + msg.value )
			//div.innerHTML = "TESTE 123"
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					div.style = "block";
					let ncid = this.responseText;

					let div_innerHTML = "<div class=\"well\">\n";
					div_innerHTML +=    "	<a href=\"comment" + ncid + "\" data-toggle=\"collapse\">[+]</a> &nbsp;&nbsp;";
					div_innerHTML += "Author: <a href=\"/admin/user/show/{{ session['uid'] }}\"> {{ session['username'] }} </a>  <br>\n";
					div_innerHTML +=    "	<div id=\"comment" + ncid + "\" class=\"collapse in\">";
					div_innerHTML +=    "   	" + msg.value + "<br>";
					div_innerHTML +=    "      <a href=\"javascript:void(0)\" onclick=\"show_hidden('write_comment" + ncid + "')\"> comment </a>";
					div_innerHTML +=    "	    &nbsp &nbsp <a href=\"#\"> delete </a>";
					div_innerHTML +=    "      <div id=\"write_comment" + ncid + "\" style=\"display: none;\">";
					div_innerHTML +=    "			<form action = \"#\" onsubmit=\"post_comment(event, 'message"+ncid+"','subcomment"+ncid+"','"+ncid+"','"+pid+"','"+sid+"')\">"
					div_innerHTML +=    "				<textarea id='message"+ncid+"' name='message' rows='6' cols='100'></textarea> <br><br>";
					div_innerHTML +=    "				<input type='submit' onclick=\"show_hidden('write_comment"+ncid+"')\" value='/>";
					div_innerHTML +=    "		    </form>";
					div_innerHTML +=    "		</div>";
					div_innerHTML +=    "      <div id=\"subcomment"+ncid+"\" style=\"display: none;\"></div>"
					div_innerHTML +=    "	</div>";
					div_innerHTML +=    "</div>";
					div.innerHTML += div_innerHTML;
					msg.value = "";

					//div.innerHTML = "TEST 456"
				}
			};
			let url = "/sub/" + sid + "/post/" + pid + "/" + cid + "/postcomment/";
			let content = "message=" + msg.value;
			xhttp.open("POST", url, true);
			xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			console.log("url is" + url);
			xhttp.send(content);
			event.preventDefault();
		}

		function post_vote(up){
			let xhttp = new XMLHttpRequest();
			//div.innerHTML = "TESTE 123"
			xhttp.onreadystatechange = function() {
				if (up){
					document.getElementById(upvote).style.color = "red"
					document.getElementById(downvote).style.color = "blue"
				}
				else {
					document.getElementById(upvote).style.color = "blue"
					document.getElementById(downvote).style.color = "red"
				}
			};
			if(up){
				let url = "/upvote/{{ post.id }}"
			}
			else{
				let url = "/downvote/{{ post.id }}"
			}
			xhttp.open("POST", url, true);
			xhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			console.log("url is" + url);
			xhttp.send();
			event.preventDefault();
		}
	</script>
	<br/><br/>
	<h2> {{ post.title }} </h2>
	<br/>
	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="voting-container">
				<ul>
					{% set upcolour = "blue" %}
					{% set downcolour = "blue" %}
					{% if g.post_vote %}
					{% if g.post_vote == "u" %}
						{% set upcolour = "red" %}
					{% elif g.post_vote == "d" %}
						{% set downcolour = "red" %}
					{% endif %}
					{% endif %}
					<li><a href="javascript:void(0)" onclick="post_upvote(true)"><span id="upvote" class="glyphicon glyphicon-arrow-up" style="color: {{ upcolour }}"></span></a></li>
					<li><a href="javascript:void(0)" onclick="post_vote(false)"><span id="downvote" class="glyphicon glyphicon-arrow-down" style="color: {{ downcolour }}"></span></a></li>
				</ul>
			</div>
			<div class="message-container">
				<div>
					Author: <a href="{{ url_for('show_user',user_id=post.user_id) }}">{{ get_author(post.user_id) }}</a>
				</div>
				<div>
					{{ post.message }}
				</div>
			</div>
		</div>
		<!--<div class="panel-body">
			Author: <a href="{{ url_for('show_user',user_id=post.user_id) }}">{{ get_author(post.user_id) }}</a>
		</div>
		<div class="panel-body">
			{{ post.message }}
		</div>-->
	</div>
	<div class='well'>
	<div id="write_comment0">
		<form action="#" onsubmit="post_comment(event, 'message0','subcomment0','0','{{post.id}}','{{sub.id}}')">
			<textarea id="message0" name='message' rows='6' cols='100'></textarea>
			<br/><br/>
			<input type='submit' value='ok'/>
		</form>
	</div>
	<div id="subcomment0" style="display: none;">
	</div>
	<br/><br/><br/>
	{{ show_comments(0) }}


{% endblock %}
