{% macro printField(field) %}
	{{ field.label }}: {{ field(**kwargs) }}
	{% if field.errors %}
		<ul class="errors">
			{% for error in fielderrors %}
				{{ error }}
			{% endfor %}
		</ul>
	{% endif %}
{% endmacro %}




{% extends "header.html" %}

{% block title %}
 Sign up 
{% endblock %}

{% block body %}

	<form action = "{{ url_for('new_user') }}", method = 'post'>

		<h2> Sign up </h2>
		<br/><br/>
		<ul>
			<li>{{ printField(form.username) }}</li>
			<li>{{ printField(form.password) }}</li>
			<li>{{ printField(form.confirm) }}</li>
			<li>{{ printField(form.email )}}</li>
		</ul>
		<br/><br/>
		{{ form.submit.label }}
		
	</form>
{% endblock %}